.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding: 0 15px 0 15px;
}

.footerLogo {
    float: left;
    padding: 5px 0 5px 0;
}