.container.mainContainer {
    margin: 60px 0 60px 0;

    .infoRow {
        padding-bottom: 15px;

        .imgBeer{
            max-height: 300px;
        }
    }

    .panel-group {
        .triggerCollapse {
            cursor: pointer;

            .panel-title:after {
                font-family: 'Glyphicons Halflings';
                content: "\e114";
                float: right;
                color: grey;
            }

        }
    }
}

#ratingForm {
    label {
        text-align: right;
        padding-right: 0px;
        padding-left: 0px;
    }
}

