nav.navbar {

    .navbar-header {        
        
        .beerList {
            margin-top: 5px;
        }
        
        .btn {
            background-image: none;
            background-color: transparent;
            padding: 9px 15px  9px 15px;
        }

        .collapseArrowRight {
            float:right;
            margin: 5px 5px 0 0;
        }

        .collapseArrowLeft {
            float:left;
            margin: 5px 0 0 5px;
        }

    }

}