{{outlet}}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Beers Around the World Alpha</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header text-center">

        <a href="#" class="btn btn-default collapseArrowLeft">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>


        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          6:00 pm
          <span class="caret" />
        </button>

        <a href="#" class="btn btn-default collapseArrowRight">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

      </div>

      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li><a href="#">6:00pm | Shocktop Pumpkin Wheat</a></li>
          <li><a href="#">6:20pm | Recky Brewing Down Under IPA</a></li>
          <li><a href="#">6:40pm | MRM Confederate Brewery The Rebel</a></li>
          <li><a href="#">7:00pm | Candy Lane Brewery Some Cider</a></li>
          <li><a href="#">7:00pm | Lorem Bewery Ipsum IPA</a></li>
          <li><a href="#">7:20pm | Walt's Brew Factory Fart Lager</a></li>
          <li><a href="#">7:40pm | Patti's Perfect Porter</a></li>
          <li><a href="#">8:00pm | Mark's Ginger Ale</a></li>
          <li><a href="#">8:20pm | Caleb's Crazy Shit</a></li>
          <li><a href="#">8:40pm | Kelly's Gluten Free Mead</a></li>
          <li><a href="#">9:00pm | Fake Fake Fake</a></li>
          <li><a href="#">9:20pm | Meoow Meoow wowow</a></li>
          <li><a href="#">9:40pm | Chicken Is Cool</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">6:00pm</a></li>
              <li><a href="#">6:20pm</a></li>
              <li><a href="#">6:40pm</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">7:00pm</a></li>
              <li><a href="#">7:20pm</a></li>
            </ul>
          </li> -->
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Right1</a></li>
          <li><a href="#">Right2</a></li>
          <li><a href="#">Right3</a></li>
        </ul> -->
      </div><!--/.nav-collapse -->

    </div>
  </nav>


  <div class="container mainContainer">

    <div class="row infoRow">
      <div class="col-xs-6">
        <img class="img-responsive img-thumbnail" src="http://www.drinkhacker.com/wp-content/uploads/2011/10/Shock-Top_Pumpkin-Wheat_Bottle-Glass.jpg" />
      </div>
      <div class="col-xs-6">
        <table class="table table-striped table-responsive">
          <tr>
            <!-- <th>Style</th> -->
            <td>Wheat Beer</td>
          </tr>
          <tr>
            <!-- <th>Location</th> -->
            <td>St. Louis, MO</td>
          </tr>
          <tr>
            <!-- <th>ABV</th> -->
            <!-- <td>5.20%</td> -->
            <td>5.20% ABV</td>
          </tr>
          <tr>
            <td>Slightly Hoppy</td>
          </tr>
        </table>
      </div>

    </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading triggerCollapse" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="panel-title">
              Description
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading triggerCollapse collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" >
              Tasting Notes
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading triggerCollapse collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Food Pairing
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading triggerCollapse collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              My Rating
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">

            <form class="form-inline" id="ratingForm">


              <div class="form-group">
                <label for="appearance" class="col-xs-3 control-label">Appearance</label>
                <div class="col-xs-3" style="padding-right: 0px;">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="palate" class="col-xs-3 control-label">Palate</label>
                <div class="col-xs-3" style="padding-right: 0px;">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="aroma" class="col-xs-3 control-label">Aroma</label>
                <div class="col-xs-3" style="padding-right: 0px;">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="flavor" class="col-xs-3 control-label">Flavor</label>
                <div class="col-xs-3" style="padding-right: 0px;">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>




            </form>



          </div>
        </div>
      </div>

    </div>

</div> <!-- /container -->


<footer class="footer">
  <img src="https://www.sheehanfamilycompanies.com/sites/default/files/images/Shock%20Top%20Pumpkin%20Wheat%20Logo.gif" style="float: left;" height="58"/>
  <div class="container text-center">
    <h5>Pumpkin Wheat</h5>
    <h6>Shocktop</h6>
  </div>
</footer>


</body>
</html>
