<template name="beerInfo">
  <div class="row infoRow">
    <div class="col-xs-6 text-center">
      <img class="img-responsive img-thumbnail imgBeer"
           src="{{#with currentBeer}}{{#if imgBeer}}{{imgBeer}}{{else}}img/Question_mark.png{{/if}}{{/with}}" />
    </div>
    <div class="col-xs-6">
      <table class="table table-striped table-responsive">
        <tbody>
          {{#with currentBeer}}

            {{#if style}}
            <tr>
              <!-- <th>Style</th> -->
              <td>{{style}}</td>
            </tr>
            {{/if}}

            {{#if location}}
            <tr>
              <!-- <th>Location</th> -->
              <td>{{location}}</td>
            </tr>
            {{/if}}

            {{#if abv}}
            <tr>
              <!-- <th>ABV</th> -->
              <!-- <td>5.20%</td> -->
              <td>{{abv}}% ABV</td>
            </tr>
            {{/if}}

            {{#if hop}}
            <tr>
              <td>{{hop}}</td>
            </tr>
            {{/if}}

            {{#if ibu}}
            <tr>
              <!-- <th>ABV</th> -->
              <!-- <td>5.20%</td> -->
              <td>{{ibu}} IBU</td>
            </tr>
            {{/if}}

          {{/with}}
        </tbody>
      </table>
    </div>
  </div>
</template>
